
<div class="actions">
    <div class="actions-blank">
        <img class="actions-image" [src]=" 'assets/images/arrow.png' ">
        <p class="actions-text"> Select files </p>
    </div>

    <div class="actions-btns">
        <button (click)="captureImage()" class="btn">Take a picture with
            the camera</button>
        <button (click)="selectImage()" class="btn">Upload few
            files</button>
    </div>
</div>
<div class="resources">
    <div id="dwtcontrolContainer"></div>
</div>