<div id="container" class="container">
    <div class="wrapper-fake-box">
        <hr class="wrapper-fake wrapper-fake-last">
        <hr class="wrapper-fake wrapper-fake-second">
    </div>
    
    <div class="wrapper" style="text-align: center;">
    
        <h3 class="header">Documents scanner</h3>

        <div [ngClass]="showDocumentInfo ? 'hidden_block' : 'visible_block' ">
            <app-dwt (dwObjectInstance)="webTwainObjectInit($event)" ></app-dwt>
            <div>
                <button (click)="openDocumentInfo()" class="btn submit_btn">
                    Enter document info <span style="font-size: 16px">▶</span>
                </button>
            </div>
        </div>
    
        <div [ngClass]="showDocumentInfo ? 'visible_block' : 'hidden_block' ">
            <app-document-info (goBackEvent)="showBaseForm()" (sendData)="handleData($event)" [docInfo]="docInfo" ></app-document-info>
        <div>
    </div>
</div>
<router-outlet></router-outlet>